@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
:root {
    --dark-blue: hsl(233, 47%, 7%); /* (main background) */
    --desaturated-blue: hsl(244, 38%, 16%); /* (card background) */
    --soft-violet: hsl(277, 64%, 61%); /* (accent) */
   
    --white: hsl(0, 0%, 100%); /* (main heading, stats) */
    --para-transparent-white: hsla(0, 0%, 100%, 0.75); /* (main paragraph) */
    --head-transparent-white: hsla(0, 0%, 100%, 0.6); /* (stat headings) */
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* font-family: 'Inter', sans-serif; */
    /* font-family: 'Lexend Deca', sans-serif; */
}
html, body {
    font-size: 15px;
}
body {
    min-height: 100vh;
    max-width: 1440px;
    background: var(--dark-blue);
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    position: relative;
    width: 1110px;
    height: 450px;
    border-radius: 6px;
    background-color: var(--desaturated-blue);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
}
.img-box {
    width: 48%;
    height: 100%;
    z-index: 1;
    position: relative;
    background-color: var(--soft-violet);
}
.img-box:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url('./images/image-header-mobile.jpg');
    background-repeat: no-repeat;
    z-index: 2;
    background-size: 100% 100%;
    opacity: .6;
}
.content {
    width: 52%;
    height: 100%;
    padding: 70px;
}
.content h1 {
    font-size: 35px;
    font-weight: 700;
    font-family: 'Inter', sans-serif;
    text-align: left;
    color: var(--white);
}
.content h1 span {
    color: var(--soft-violet);
}
.content .text {
    color: var(--para-transparent-white);
    font-family: 'Inter', sans-serif;
    text-align: left;
    padding-right: 80px;
    line-height: 25px;
    margin: 25px 0;
}
.likes {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    margin-top: 20px;
    padding-right: 100px;
}
.likes div {
    margin-top: 50px;
    padding: 5px 0;
}
.likes div h2 {
    color: var(--white);
    font-family: 'Inter', sans-serif;
}
.likes div .likes-text {
    color: var(--head-transparent-white);
    font-family: 'Lexend Deca', sans-serif;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 1px;
    margin: 5px 0;
}
@media (max-width: 375px) {
    body {
        max-width: 375px;
        min-height: 100vh;
    }
    .container {
        display: block;
        width: 327px;
        height: 780px;
    }
    .img-box {
        width: 100%;
        height: 240px;
    }
    .content {
        padding: 40px 20px 20px 20px;
        width: 100%;
        height: 100%;
    }
    .content h1 {
        font-size: 25px;
        text-align: center;
        color: var(--white);
    }
    .content .text {
        margin: 0;
        padding: 15px;
        text-align: center;
    }
    .likes {
        justify-content: center;
        flex-direction: column;
        text-align: center;
    }
    .likes div {
        margin: 10px 0;
        padding: 5px 0;
    }
}