@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;700&display=swap');
:root {
    --very-dark-gray-blue: hsl(217, 19%, 35%);
    --desaturated-dark-blue: hsl(214, 17%, 51%);
    --gray-blue: hsl(212, 23%, 69%);
    --light-gray-blue: hsl(210, 46%, 95%);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Manrope', sans-serif;
}
html, body {
    font-size: 13px;
}
body {
    max-width: 1440px;
    min-height: 100vh;
    background-color: var(--light-gray-blue);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
/* 730px */
article {
    max-width: 730px;
    height: 280px;
    background-color: #fff;
    display: flex;
    border-radius: 10px;
    box-shadow: 0px 5px 27px -9px rgba(0,0,0,0.2);
    -webkit-box-shadow: 0px 5px 27px -9px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 5px 27px -9px rgba(0,0,0,0.2);
}
.img-box {
    width: 285px;
    height: 100%;
    overflow: hidden;
}
.img-box img {
    width: 123%;
    height: 100%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 20px;
}
article section {
    max-width: 445px;
    padding: 35px 40px;
}
section h1 {
    color: var(--very-dark-gray-blue);
    font-weight: 700;
    font-size: 20px;
}
section .text {
    color: var(--desaturated-dark-blue);
    font-weight: 500;
    margin: 20px 0; 
}
section div {
    position: relative;
    display: flex;
    align-items: center;
}
.social {
    width: 248px;
    height: 55px;
    background-color: var(--very-dark-gray-blue);
    position: absolute;
    top: -120px;
    right: -105px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 5px 27px -9px rgba(0,0,0,0.3);
    -webkit-box-shadow: 0px 5px 27px -9px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 5px 27px -9px rgba(0,0,0,0.3);
    opacity: 0;
    pointer-events: none;
    transition: opacity 300ms ease-in-out, top 300ms ease-in-out, pointer-events 300ms ease-in-out;
}
.social.active {
    top: -75px;
    opacity: 1;
    pointer-events: all;
}
.social:after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -10px;
    border-width: 10px;
    border-style: solid;
    border-color: var(--very-dark-gray-blue) transparent transparent transparent;
}
.social a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
    letter-spacing: 3px;
}
section div .info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
section div .info h2 {
    color: var(--very-dark-gray-blue);
    font-weight: bold;
    font-size: 13px;
}
section div .info .date {
    color: var(--desaturated-dark-blue);
}
#btn-active {
    width: 35px;
    height: 35px;
    border: none;
    cursor: pointer;
    border-radius: 50%;
    margin-left: auto;
    z-index: 10;
    transition: 0.3s;
}
#btn-active.active {
    background: #6f8199;
}
#btn-active svg.active path {
    fill: #ffffff !important;
}
button img {
    user-select: none;
}
@media (max-width: 375px) {
    body {
        max-width: 375px;
        margin: 0;
    }
    article {
        max-width: 327px;
        height: 504px;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        position: relative;
    }
    .img-box {
        width: 100%;
    }
    .img-box img {
        width: 100%;
        border-top-right-radius: 10px;
        border-bottom-left-radius: 0;
    }
    article section {
        /* padding: 30px 35px; */
        padding: 30px 35px 15px;
    }
    section h1 {
        font-size: 16px;
        line-height: 25px;
    }
    section .text {
        line-height: 22px;
    }
    .social {
        width: 327px;
        height: 64px;
        top: -100%;
        left: -35px;
        border-radius: 0px;
        justify-content: flex-start;
        opacity: 0;
        pointer-events: none;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }
    .social a:first-child {
        margin-left: 35px;
    }
    .social.active {
        top: -19%;
        opacity: 1;
        pointer-events: all;
    }
    #btn-active.active {
        margin-bottom: -7px;
    }
    .social:after {
        display: none;
    }
}
@media (max-width: 480px) {
    body {
        max-width: 480px;
    }
    article {
        max-width: 327px;
        height: 504px;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        position: relative;
    }
    .img-box {
        width: 100%;
    }
    .img-box img {
        width: 100%;
        border-top-right-radius: 10px;
        border-bottom-left-radius: 0;
    }
    article section {
        /* padding: 30px 35px; */
        padding: 30px 35px 15px;
    }
    section h1 {
        font-size: 16px;
        line-height: 25px;
    }
    section .text {
        line-height: 22px;
    }
    .social {
        width: 327px;
        height: 64px;
        top: -100%;
        left: -35px;
        border-radius: 0px;
        justify-content: flex-start;
        opacity: 0;
        pointer-events: none;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }
    .social a:first-child {
        margin-left: 35px;
    }
    .social.active {
        top: -19%;
        opacity: 1;
        pointer-events: all;
    }
    #btn-active.active {
        margin-bottom: -7px;
    }
    .social:after {
        display: none;
    }
}
@media (max-width: 836px) {
    body {
        max-width: 836px;
    }
    article {
        max-width: 327px;
        height: 504px;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        position: relative;
    }
    .img-box {
        width: 100%;
    }
    .img-box img {
        width: 100%;
        border-top-right-radius: 10px;
        border-bottom-left-radius: 0;
    }
    article section {
        padding: 30px 35px 15px;
    }
    section h1 {
        font-size: 16px;
        line-height: 25px;
    }
    section .text {
        line-height: 22px;
    }
    .social {
        width: 327px;
        height: 64px;
        top: -100%;
        left: -35px;
        border-radius: 0px;
        justify-content: flex-start;
        opacity: 0;
        pointer-events: none;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }
    .social a:first-child {
        margin-left: 35px;
    }
    .social.active {
        top: -19%;
        opacity: 1;
        pointer-events: all;
    }
    #btn-active.active {
        margin-bottom: -7px;
    }
    .social:after {
        display: none;
    }
}