@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');
:root {
    /* Primary */
    --pale-blue: hsl(225, 100%, 94%);
    --bright-blue: hsl(245, 75%, 52%);

    /* Neutral */
    --very-pale-blue: hsl(225, 100%, 98%);
    --desatuated-blue: hsl(224, 23%, 55%);
    --dark-blue: hsl(223, 47%, 23%);
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Red Hat Display', sans-serif;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1440px;
    min-height: 100vh;
    margin: 0 auto;
    background: #e0e8ff;
}
.container {
    width: 100%;
    height: 815px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('./images/pattern-background-desktop.svg');
    background-repeat: no-repeat;
    box-shadow: 0px 16px 28px 0px rgba(0,0,0,0.20);
}
.card {
    width: 407px;
    height: 629px;
    border-radius: 20px;
    overflow: hidden;
    background: #fff;
    box-shadow: 0px 16px 28px 0px rgba(0,0,0,0.20);
}
.img-box {
    width: 100%;
    height: 200px;
    position: relative;
}
.card .img-box img {
    width: 100%;
}
.card h1 {
    color: var(--dark-blue);
    letter-spacing: 0px;
    font-weight: 900;
    text-align: center;
    padding: 30px 0;
}
.card p {
    color: var(--desatuated-blue);
    padding: 0 30px;
    text-align: center;
}
.annual-card {
    height: 90px;
    width: 320px;
    margin: 20px auto;
    display: flex;
    align-items: center;
    padding: 0 15px;
    background: #f8f9fe;
    border-radius: 12px;
}
.annual-card .icon {
    width: 42px;
    height: 42px;
}
.annual-card .content-text {
    margin: 0 0 0 -12px;
}
.annual-card .content-text .heading-text {
    color: var(--dark-blue);
    font-weight: 700;
    text-align: center;
    font-size: 1rem;
}
.annual-card .change {
    margin-left: auto;
    color: var(--bright-blue);
    font-weight: 700;
}
.btn-proceed {
    display: block;
    width: 330px;
    height: 47px;
    margin: 0 auto;
    border-radius: 12px;
    border: none;
    cursor: pointer;
    background: var(--bright-blue);
    color: var(--pale-blue);
    font-weight: 700;
    font-size: 16px;
    box-shadow: 0px 10px 28px 0px rgba(0,0,0,0.19);
}
.cancel {
    display: table;
    margin: 20px auto;
    color: var(--desatuated-blue);
    font-weight: 700;
    text-decoration: none;
}
@media (max-width: 375px) {
    body {
        width: 100%;
        height: 100%;
    }
    .container {
        width: 100%;
        height: 709px;background-image: url('./images/pattern-background-mobile.svg');
        background-repeat: no-repeat;
        box-shadow: none;
    }
    .card {
        height: 565px;
        width: 329px;
    }
    .card .img-box {
        height: 160px;
    }
    .card h1 {
        padding: 25px 0 20px 0;
    }
    .card p {
        line-height: 27px;
    }
    .annual-card {
        height: 80px;
        width: 278px;
    }
    .content-text p {
        line-height: 19px;
    }
    .content-text p:last-child {
        font-size: 14px;
        text-align: left;
    }
    .btn-proceed {
        height: 50px;
        width: 278px;
    }
}